</main>
<footer class="footer">
	<div class="container">
		<div class="col-sm-6">
			© 2010-2016 FitWP. All rights reserved.
		</div>
		<div class="col-sm-6 text-right">
			<a href="http://themeforest.net/user/fitwp" title="Follow us on ThemeForest" target="_blank"><svg><use xlink:href="#envato" /></svg></a>
			<a href="https://twitter.com/fitwp" title="Follow us on Twitter" target="_blank"><svg><use xlink:href="#twitter" /></svg></a>
			<a href="https://www.facebook.com/fitwpteam/" title="Like us on Facebook" target="_blank"><svg><use xlink:href="#facebook" /></svg></a>
			<span class="pull-right">Follow us:</span>
		</div>
	</div>
</footer>
</body>
</html>
