.footer {
	background: #303b3b;
	color: rgba(255,255,255,0.6);
	padding: 30px 0;
	font-size: 11px;
	text-transform: uppercase;
	line-height: 16px;

	a {
		display: inline-block;
		margin-left: 10px;
		float: right;
	}
	svg {
		width: 16px;
		height: 16px;
		fill: #828282;
		transition: fill .4s;

		&:hover {
			fill: #c5c5c5;
		}
	}
}
