body {
	font: 14px/1.7 'Open Sans', sans-serif;
	color: #343838;
}
::selection {
	background: #00b4cc;
	color: #fff;
}
a {
	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
	}
}
img {
	max-width: 100%;
}
blockquote {
	border: 0;
}
cite {
	font: 16px 'Homemade Apple', cursive;
}
