body {
	font: 14px/1.7 'Open Sans', sans-serif;
	color: #343838;
}
::selection {
	background: #00b4cc;
	color: #fff;
}
a {
	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
	}
}
img {
	max-width: 100%;
}
blockquote {
	border: 0;
}
cite {
	font: 16px 'Homemade Apple', cursive;
}
table {
	font-size: 14px;
	margin-bottom: 2em;
	
	th,
	td {
		padding: 8px;
		line-height: 1.42857143;
		vertical-align: top;
		border-top: 1px solid #ddd;
		min-width: 130px;
	}
	th {
		border-top: 0;
		vertical-align: bottom;
		border-bottom: 2px solid #ddd;
	}
}
