.btn {
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	font-size: 13px;
	padding: 13px 17px;
	border-radius: 3px;

	&:hover,
	&:active,
	&:focus {
		color: #fff;
	}
}
.description {
	color: #888;
}
// Hero
//-----------------------------------------
.hero {
	position: relative;
	font-size: 10px;
}
.video {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 700px;
	z-index: 0;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 4;
		background-image: url(../img/pattern.png);
		opacity: .7;
		pointer-events: none;
	}
}
.video__player {
	z-index: 1;
}
.video__overlay--bg {
	background: #005f6b;
	opacity: .7;
	z-index: 2;
}
.video__overlay--radial {
	background: radial-gradient(ellipse at center, transparent 0%, transparent 48%, #005f6b 91%, #005f6b 100%);
	z-index: 3;
}
.hero-content {
	position: relative;
	z-index: 4;
	height: 700px;

	h2 {
		text-align: center;
		color: #fff;
		font-size: 5em;
		font-weight: 800;
		margin: 3.5em 0 2em;
		letter-spacing: -2px;
	}
	.text-label {
		font-size: 1.6em;
		margin-bottom: 20px;
		color: rgba(255, 255, 255, .4);
		text-transform: uppercase;
		line-height: 30px;
	}
	.text-content {
		font-size: 3em;
		font-weight: 800;
		line-height: 1;
		margin-bottom: 1em;
		color: rgba(255, 255, 255, .8);
		border-left: 1px solid rgba(255, 255, 255, .4);
	}
	.sep {
		font-weight: 400;
		color: rgba(255, 255, 255, .2);
	}
}
.btn-outline {
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 2px;

	&:hover {
		background: rgba(255, 255, 255, .1);
	}
}
// Featured project
//-----------------------------------------
.featured {
	padding-top: 15%;
	padding-bottom: 20%;
	color: #45474d;

	h2 {
		margin-bottom: 2em;
	}
	.description {
		font-size: 16px;
	}
	.btn:first-child {
		margin-right: 3em;
	}
	img {
		position: absolute;
		transition: transform .4s;
	}
}
.desktop {
	top: -250px;
	left: 150px;
	z-index: 1;
}
.ipad {
	top: -150px;
	left: 20px;
	z-index: 2;
}
.iphone {
	top: -50px;
	left: 420px;
	z-index: 3;
}
.screenshots {
	min-height: 450px;
	&:hover {
		.desktop {
			transform: translate3d(0, -15px, 0);
		}
		.ipad {
			transform: translate3d(-25px, 5px, 0);
		}
		.iphone {
			transform: translate3d(35px, 0, 0);
		}
	}
}
.subtitle {
	font-size: 13px;
	color: #d0d5d8;
	text-transform: uppercase;
	font-weight: bold;
}
.cta {
	margin-top: 4em;
}
.btn-red {
	background: #cd2122;
	&:hover {
		background: darken(#cd2122, 5%);
	}
}
.btn-black {
	background: #23262d;
	&:hover {
		background: #000;
	}
}
// Features
//-----------------------------------------
.features {
	margin-bottom: 10%;

	.row {
		margin-top: 100px;

		> div {
			margin-bottom: 50px;
		}
	}
	h3 {
		font-size: 20px;
		font-weight: bold;
		margin: 0 0 1em;
	}
	svg {
		width: 100px;
		height: 100px;
		fill: #bce5f5;
		margin: 0 25px 50px;
	}
}
.btn-rounded {
	background: #00b4cc;
	padding: 20px 40px;
	line-height: 1;
	border-radius: 60px;

	&:hover {
		background: darken(#00b4cc, 5%);
	}
}
// Themes
//-----------------------------------------
.themes {
	h3 {
		font-size: 15px;
		font-weight: 800;
		margin: 1em 0;
		text-transform: uppercase;
	}
	a {
		color: #343838;
	}
	.col-sm-6 {
		padding: 5%;
	}
}
// Testimonials
//-----------------------------------------
.testimonials {
	margin: 10% 0;

	h2 {
		margin-bottom: 7%;
	}

	svg {
		width: 80px;
		height: 80px;
		fill: #eee;
		margin-right: 20px;
	}
	blockquote {
		padding: 0;
	}
	.item {
		font-size: 14px;
		font-style: italic;
		color: #888;
	}
}
// Newsletter
//-----------------------------------------
.newsletter {
	margin-bottom: 10%;

	input[type="email"] {
		width: 430px;
		margin-right: 20px;
		height: 41px;
		display: inline-block;
		margin-bottom: 1em;
		font-size: 13px;
		vertical-align: middle;
	}
	button {
		line-height: 1;
		margin-bottom: 1em;
		background: #00b4cc;
		&:hover {
			background: darken(#00b4cc, 5%);
		}
	}
	.description {
		font-size: 20px;
		margin: 20px 0 60px;
	}
	.spam {
		font-size: 11px;
		opacity: .5;
	}
}
