@media (max-width: 1199px) {
	// Featured project
	.desktop {
		top: -200px;
		left: 100px;
	}
	.iphone {
		left: 350px;
	}
}
@media (max-width: 991px) {
	// Hero
	.hero {
		font-size: 8px;
	}
	// Featured project
	.desktop {
		left: 180px;
	}
	.iphone {
		left: 480px;
	}
}
@media (max-width: 767px) {
	// Hero
	.video,
	.hero-content {
		height: 500px;
	}
	// Featured project
	.screenshots {
		min-height: 350px;
		&:hover {
			transform: translate3d(-50%, -15px, 0);
		}
	}
	.desktop {
		left: 50%;
		max-width: 60%;
		transform: translate3d(-50%, 0, 0);
	}
	.ipad {
		max-width: 40%;
	}
	.iphone {
		left: 70%;
		max-width: 25%;
	}
	// Footer
	.social {
		float: left;
		margin-top: 1em;
	}
}
@media (max-width: 479px) {
	// Featured project
	.screenshots {
		min-height: 200px;
	}
}
