@media (max-width: 1199px) {
	// Featured project
	.desktop {
		top: -220px;
		left: 100px;
	}
	.ipad {
		top: -120px;
	}
	.iphone {
		top: -20px;
		left: 350px;
	}
}
@media (max-width: 991px) {
	// Hero
	.hero {
		font-size: 8px;
	}
	// Featured project
	.desktop {
		left: 180px;
	}
	.iphone {
		left: 480px;
	}
}
@media (max-width: 767px) {
	// Header
	.menu-home {
		display: none;
	}
	// Hero
	.video,
	.hero-content {
		height: 500px;
	}
	// Featured project
	.screenshots {
		min-height: 350px;

		&:hover {
			.desktop {
				transform: translate3d(-50%, -15px, 0);
			}
		}
	}
	.desktop {
		left: 50%;
		top: -180px;
		max-width: 60%;
		transform: translate3d(-50%, 0, 0);
	}
	.ipad {
		max-width: 40%;
		top: -80px;
	}
	.iphone {
		left: 70%;
		max-width: 25%;
		top: 20px;
	}
	// Footer
	.social {
		float: left;
		margin-top: 1em;
	}
}
@media (max-width: 479px) {
	// Header
	.logo {
		font-size: 30px;
	}
	.menu-support,
	.menu-contact {
		display: none;
	}
	// Featured project
	.screenshots {
		min-height: 200px;
	}
}
