{% include header.html type="theme" %}
<article class="hentry">
	<div class="entry-header">
		<h1 class="entry-title">{{ page.title }}</h1>
	</div>

	<div class="entry-content">
		<div class="container">
			<div class="row">
				<div class="col-md-8">{{ content }}</div>
				<div class="col-md-4 theme-info">
					<h4>Theme Details</h4>
					<div class="price pull-right">${{ page.price }}</div>
				
					<p>Use on unlimited websites. One year update and support.</p>
				
					<a class="btn btn-success btn-lg btn-block btn-buy" href="{{ page.buy }}">Buy Now</a>
				
					<table class="table table-condensed">
						<tbody>
							<tr>
								<th>Version</th>
								<td>{{ page.version }}</td>
							</tr>
							<tr>
								<th>Compatibility</th>
								<td>{{ page.compatibility }}</td>
							</tr>
							<tr>
								<th>Release Date</th>
								<td>{{ page.release }}</td>
							</tr>
							<tr>
								<th>Last Update</th>
								<td>{{ page.update }}</td>
							</tr>
						</tbody>
					</table>
					<p><a class="btn btn-info btn-sm btn-docs" href="{{ page.docs }}">View Documentation</a></p>
				</div>
			</div>
		</div>
	</div>
</article>
{% include footer.html type="theme" %}
