{% include header.html type="theme" %}
<article class="hentry">
	<div class="entry-header">
		<h1 class="entry-title">{{ page.title }}</h1>
		<div class="actions"><a class="btn btn-outline" href="{{ page.demo}}">View Demo</a> <a class="btn btn-success" href="{{ page.buy }}">Buy Now</a></div>
	</div>

	<div class="entry-content">
		<div class="container">
			<div class="row">
				<div class="col-md-8">{{ content }}</div>
				<div class="col-md-4 theme-info">
					<h4>Theme Details</h4>
					<div class="price pull-right">${{ page.price }}</div>
				
					<p>Use on unlimited websites. One year update and support.</p>
				
					<a class="btn btn-success btn-lg btn-block btn-buy" href="{{ page.buy }}">Buy Now</a>
					
					{% if page.gumroad %}
						<div class="gateways text-center row">
							<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" class="col-md-6">
								<input type="hidden" name="cmd" value="_xclick">
								<input type="hidden" name="business" value="rilwis@gmail.com">
								<input type="hidden" name="no_shipping" value="1">
								<input type="hidden" name="rm" value="2">
								<input type="hidden" name="no_note" value="1">
							
								<input type="hidden" name="item_name" value="{{ page.title }} ">
								<input type="hidden" name="amount" value="{{ page.price }}">
								<input type="hidden" name="currency_code" value="USD">
								<input type="hidden" name="custom" value="{{ page.slug }}">
							
								<input type="hidden" name="return" value="http://fitwp.com/thanks">
								<input type="hidden" name="cancel_return" value="http://fitwp.com{{ page.url }}">
								<input type="hidden" name="notify_url" value="http://deals.fitwp.com/ipn.php">
								<button type="submit" class="btn btn-block btn-danger">Paypal</button>
							</form>
							<div class="col-md-6"><a href="{{ page.gumroad }}?wanted=true" class="btn btn-block btn-danger">Credit card</a></div>
						</div>
					{% endif %}
				
					<table class="table table-condensed">
						<tbody>
							<tr>
								<th>Version</th>
								<td>{{ page.version }}</td>
							</tr>
							<tr>
								<th>Compatibility</th>
								<td>{{ page.compatibility }}</td>
							</tr>
							<tr>
								<th>Release Date</th>
								<td>{{ page.release }}</td>
							</tr>
							<tr>
								<th>Last Update</th>
								<td>{{ page.update }}</td>
							</tr>
							<tr>
								<th>Layout</th>
								<td>Responsive</td>
							</tr>
							<tr>
								<th>Compatible Browsers</th>
								<td>IE9+, Edge, Firefox, Chrome, Safari</td>
							</tr>
						</tbody>
					</table>
					<p><a class="btn btn-info btn-sm btn-docs" href="{{ page.docs }}">View Documentation</a></p>
				</div>
			</div>
		</div>
	</div>
</article>
{% include footer.html type="theme" %}
